src/main/resources/Resources/XMLSchema/grossingMoviesSchema.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="HighestGrossingMovies">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long" />
                <xs:element name="movieId" type="xs:string" />
                <xs:element name="title" type="xs:string" />
                <xs:element name="lifetimeGross" type="xs:decimal" />
                <xs:element name="year" type="xs:int" />
                <xs:element name="studio" type="xs:string" />
                <xs:element name="rating" type="xs:string" />
                <xs:element name="runtime" type="xs:decimal" />
                <xs:element name="budget" type="xs:decimal" />
                <xs:element name="releaseDate" type="xs:string" />
                <xs:element name="voteAvg" type="xs:decimal" />
                <xs:element name="voteCount" type="xs:int" />
                <xs:element name="franchiseId" type="xs:long" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
