src/main/resources/Resources/XMLSchema/moistmeterSchema.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="moistmeter">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="review" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ID" type="xs:int" />
                            <xs:element name="review_date" type="xs:date" />
                            <xs:element name="category" type="xs:string" />
                            <xs:element name="title" type="xs:string" />
                            <xs:element name="imdb_rating" type="xs:decimal" />
                            <xs:element name="rt_critics_rating" type="xs:int" />
                            <xs:element name="moistmeter_rating" type="xs:int" />
                            <xs:element name="genre" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
